:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.9em);
        
    --font-main: 'Roboto', sans-serif;
    --font-title: 'Quicksand', sans-serif;

    --color-primary: hsl(200, 19%, 18%);
    --color-primary-alternative: hsl(200, 18%, 35%);
    --color-secondary: hsl(200, 15%, 94%);
    --color-secondary-variant-1: hsl(200, 16%, 84%);
    --color-secondary-variant-2: hsl(200, 15%, 73%);
    --color-secondary-variant-3: hsl(200, 16%, 62%);
    --color-secondary-variant-4: hsl(200, 15%, 54%);

}

@media (min-width: 50em) {
    :root {
        font-size: 1.125em;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--font-main);
    line-height: 1.6;
    background-color: var(--color-secondary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: lighter;
}

a:link {
    color: var(--color-secondary-variant-4);
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: var(--color-secondary-variant-3);
}
a:hover {
    text-decoration: underline;
    
}
a:active {
    color: var(--color-secondary-variant-3);
}

/* HEADER */

header {
    position:fixed;
    z-index: 1;
    top:0;
    width: 100%;
    background-color: var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary-variant-3);
}

header + * {
    margin-top: 4.6em;
}    

@media (min-width: 35em) {
    header {
        position:static;
        border-bottom: initial;
    }
    header + * {
        margin-top: initial;
    }    
}

/* PAGE HEADER */

.page-header {
    padding: 0.4em 1em;
}
@media (min-width: 35em) {
    .page-header {
        padding: 1em;
    }
}
@media (min-width: 50em) {
    .page-header {
        padding: 1em 4em;
    }
}
.page-header__title > h1 {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0.2em 0;
}
@media (min-width: 35em) {
    .page-header__title > h1 {
        font-size: 2.25rem;
    }
}
.page-header__slogan {
    color: var(--color-secondary-variant-4);
    font-size: 0.875em;
    margin: 0;
}

/* HERO */

.hero {
    padding: 2em 1em;
    text-align: center;    
    background-image: linear-gradient(to bottom, var(--color-primary) , var(--color-primary-alternative));
    color: var(--color-secondary);
}
@media (min-width: 35em) {
    .hero {
        padding: 5em 3em;
        font-size: 1.2rem;
    }
}
@media (min-width: 50em) {
    .hero {
        padding: 7em 6em;
    }
}

.hero--left{
    text-align: left;
}

/* LAYOUT */

main, footer {
    padding: 1em;
}
@media (min-width: 35em) {
    main, footer {
        padding: 2em 1em;
    }
}
@media (min-width: 50em) {
    main, footer {
        padding: 2em 4em;
    }
}
@media (min-width: 35em) {
    .row {
        display: flex;
        margin-left: -.75em;
        margin-right: -.75em;
    }
    .column {
        flex: 1;
        margin-right: 0.75em;
        margin-left: 0.75em;
    }
}

/* FOOTER */

footer{
    background-color: var(--color-primary-alternative);
    color: var(--color-secondary);
}

footer li {
    margin: 1.2em 0;
}

footer .row a {
    color: var(--color-secondary);
}

/* RESPONSIVE MENU */

.menu {
    position: relative;
}

.menu-toggle {
    position: absolute;
    top: -1.2em;
    right: 0.1em;
    border: 0;
    background-color: transparent;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 0.4;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
}
.menu-toggle::after {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
}
.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
}
.menu.is-open .menu-dropdown {
    display: block;
}
@media (min-width: 35em) {
    .menu-toggle {
        display: none;
    }
    .menu-dropdown {
        display: block;
        position: static;
    }
}

.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid var(--color-secondary-variant-2);
    list-style: none;
    background-color: var(--color-secondary-variant-1);
}
.nav-menu > li + li {
    border-top: 1px solid var(--color-secondary-variant-2);
}
.nav-menu > li > a {
    display: block;
    padding: 1.2em;
    color: var(--color-primary);
    font-weight: normal;
    transition: background-color 0.4s linear;
}
.nav-menu > li.active > a{
    background-color: var(--color-secondary-variant-3);
}
.nav-menu > li > a:hover {
    text-decoration: none;
    background-color: var(--color-secondary-variant-2);
}

@media (min-width: 35em) {
    .nav-menu {
        display: flex;
        border: 0;
        padding: 0 1em;
    }
    .nav-menu > li {
        flex: 1;
    }
    .nav-menu > li + li {
        border: 0;
    }
    .nav-menu > li > a {
        padding: 1em;
        text-align: center;
    }
}      
@media (min-width: 50em) {
    .nav-menu {
        padding: 0 4em;
    }
}

/* BUTTON */

.button {
    padding: 0.5em 0.8em;
    border: 1px solid var(--color-primary-alternative);
    border-radius: 0.2em;
    background-color: transparent;
    font-size: 1rem;
    transition: background-color 0.4s linear;
}

.button:hover{
    text-decoration: none;
    background-color: var(--color-secondary-variant-1);
}

/* UTILS */

.wrapper{
    max-width: 40em;
    margin: auto;
}
.subtitle {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--color-secondary-variant-3);
}
.responsive {
    width: 100%;
    height: auto;
}
