:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
        
    --font-main: 'Roboto', sans-serif;
    --font-title: 'Quicksand', sans-serif;

    --color-primary: #263238;
    --color-primary-variant-1: #37474F;
    --color-secondary: #ECEFF1;
    --color-secondary-variant-1: #CFD8DC;
    --color-secondary-variant-2: #B0BEC5;
    --color-secondary-variant-3: #90A4AE;
    --color-secondary-variant-4: #78909C;

}

@media (min-width: 50em) {
    :root {
        font-size: 1.125em;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--font-main);
    line-height: 1.6;
    background-color: var(--color-secondary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: lighter;
}

a:link {
    color: var(--color-secondary-variant-4);
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: var(--color-secondary-variant-3);
}
a:hover {
    text-decoration: underline;
    
}
a:active {
    color: var(--color-secondary-variant-3);
}

/* HEADER */

.page-header {
    padding: 0.4em 1em;
    background-color: var(--color-secondary);
    /*
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    */
}
@media (min-width: 35em) {
    .page-header {
        padding: 1em;
        /* position: static; */
    }
}
@media (min-width: 50em) {
    .page-header {
    padding: 1em 4em;
    }
}
.title > h1 {
    color: var(--color-primary-variant-1);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0.2em 0;
}
@media (min-width: 35em) {
    .title > h1 {
        font-size: 2.25rem;
    }
}
.slogan {
    color: var(--color-secondary-variant-4);
    font-size: 0.875em;
    margin: 0;
}

/* HERO */

.hero {
    padding: 2em 1em;
    text-align: center;
    background-color: var(--color-primary-variant-1);
    background-size: 100%;
    color: var(--color-secondary);
}
@media (min-width: 35em) {
    .hero {
        padding: 5em 3em;
        font-size: 1.2rem;
    }
}
@media (min-width: 50em) {
    .hero {
        padding: 7em 6em;
    }
}

/* LAYOUT */

main, footer {
    padding: 1em;
}
@media (min-width: 35em) {
    main, footer {
        padding: 2em 1em;
    }
}
@media (min-width: 50em) {
    main, footer {
        padding: 2em 4em;
    }
}
@media (min-width: 35em) {
    .row {
        display: flex;
        margin-left: -.75em;
        margin-right: -.75em;
    }
    .column {
        flex: 1;
        margin-right: 0.75em;
        margin-left: 0.75em;
    }
}

/* CONTENT CLASSES */

.wrapper{
    max-width: 40em;
    margin: auto;
}
.subtitle {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.3rem;
    text-transform: uppercase;
}

/* FOOTER */

footer{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

footer li {
    margin: 1.2em 0;
}

/* RESPONSIVE MENU */

/*
.menu {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
}
@media (min-width: 35em) {
    .menu {
        position: relative;
        top: initial;
    }
}
*/

.menu-toggle {
    position: absolute;
    top: -1.2em;
    right: 0.1em;
    border: 0;
    background-color: transparent;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 0.4;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
}
.menu-toggle::after {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
}
.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
}
.menu.is-open .menu-dropdown {
    display: block;
}
@media (min-width: 35em) {
    .menu-toggle {
        display: none;
    }
    .menu-dropdown {
        display: block;
        position: static;
    }
}

.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid var(--color-secondary-variant-2);
    list-style: none;
    background-color: var(--color-secondary-variant-1);
}
.nav-menu > li + li {
    border-top: 1px solid var(--color-secondary-variant-2);
}
.nav-menu > li > a {
    display: block;
    padding: 2em;
    color: var(--color-secondary-variant-4);
    font-weight: normal;
}
.nav-menu > li > a:hover {
    text-decoration: none;
    color: var(--color-primary);
    background-color: var(--color-secondary-variant-2);
}

@media (min-width: 35em) {
    .nav-menu {
        display: flex;
        border: 0;
        padding: 0 1em;
    }
    .nav-menu > li {
        flex: 1;
    }
    .nav-menu > li + li {
        border: 0;
    }
    .nav-menu > li > a {
        padding: 1em;
        text-align: center;
    }
}      
@media (min-width: 50em) {
    .nav-menu {
        padding: 0 4em;
    }
}

/* UTILS */

.responsive {
    width: 100%;
    height: auto;
}
